<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.CardPersonRelMapper">

  <select id="listPersonsByCardId" resultType="com.xq.vo.CardPersonVO">
    SELECT p.id AS personId, p.name_cn AS nameCn, p.avatar
    FROM card_person_rel r
           INNER JOIN person p ON p.id = r.person_id
    WHERE r.card_id = #{cardId}
    ORDER BY p.id ASC
  </select>

  <insert id="insertBatch">
    INSERT INTO card_person_rel (card_id, person_id) VALUES
    <foreach collection="personIds" item="pid" separator=",">
      (#{cardId}, #{pid})
    </foreach>
  </insert>

  <delete id="deleteByCardId">
    DELETE FROM card_person_rel WHERE card_id = #{cardId}
  </delete>

</mapper>
