<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.DialogueLineMapper">

  <select id="listByVersionIds" resultType="com.xq.entity.DialogueLine">
    SELECT *
    FROM dialogue_line
    WHERE version_id IN
    <foreach collection="versionIds" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
    ORDER BY sort, id
  </select>

</mapper>