<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.DialogueImageMapper">

  <sql id="baseColumns">
    id,
    version_id AS versionId,
    url,
    sort
  </sql>

  <select id="listByVersionId" resultType="com.xq.entity.DialogueImage">
    SELECT
    <include refid="baseColumns"/>
    FROM dialogue_image
    WHERE version_id = #{versionId}
    ORDER BY sort ASC, id ASC
  </select>

  <select id="getById" resultType="com.xq.entity.DialogueImage">
    SELECT
    <include refid="baseColumns"/>
    FROM dialogue_image
    WHERE id = #{id}
  </select>

  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO dialogue_image (version_id, url, sort)
    VALUES
    <foreach collection="images" item="img" separator=",">
      (#{img.versionId}, #{img.url}, #{img.sort})
    </foreach>
  </insert>

  <update id="updateSort">
    UPDATE dialogue_image
    SET sort = #{sort}
    WHERE id = #{id}
  </update>

  <delete id="deleteById">
    DELETE
    FROM dialogue_image
    WHERE id = #{id}
  </delete>

  <delete id="deleteByVersionId">
    DELETE
    FROM dialogue_image
    WHERE version_id = #{versionId}
  </delete>

</mapper>
